.empty-cart{
  display: block;
  object-fit: contain;
  width: 35%;
  height: auto;
  margin: auto;
}
.products-container{
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(30rem, 1fr) );;
  gap: var(--lg-space);
}

@media screen and (max-width:400px) {
.empty-cart{
  width: 70%
}  
}