.navbar{
  grid-area: navbar;
}

.header-left{
  display: flex;
  align-items: center;
  gap: var(--sm-space);
}

.searchbar{
  margin: auto;
  width: 30%;
}

.input-primary{
  width: 100%;
}

.btn-badge{
  background-color: white;
  color: var(--primary-color);
  z-index: 9;
}

.badge-wrapper-i,.icons{
  cursor: pointer;
  font-size: 2.4rem;
  color: var(--pure-white);
}
.App{
  display: flex;
  flex-direction: column;
  
}

.wishlist,.cart-page{
  min-height: calc(100vh - 21rem);
  text-align: center;
}

@media screen and (max-width:600px) {
  html{
    font-size: 50%;
  }
  .hero{
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-left-content{
    text-align: center;
    margin-top: var(--md-space);
  }
  .btn-hero{
    margin: auto;
    margin-top: 1rem;
  }
  .category{
    max-width: 30rem;
  }
  .grid-category{
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
    justify-items: center;
  }
  
}